<div align="center" class="wrapper">
<form class="shadow">
  <div class="form-header">
    Login
  </div>

  <div class="form-body">
    <input type="text" placeholder="you@domain.com" id="email">
    <input type="password" placeholder="Password" id="password">

    <input type="submit" value="Login" id="submit">
  </div>
</form>
</div>
