<p class="description">
  Logging in here will direct you to Google's homepage, a page I believe has great
  design. Aesthetically speaking, the design is <span class="emphasis">okay</span>.
  There's a single input field that allows the user to do what they came to the site to do: search.
  Fair enough.
</p>

<p class="description">
  What makes Google's design awesome, in my opinion, is the experience Google provides
  <span class="emphasis">through</span> that search bar. With this tool, Google has
  made it so that searches can be performed using a variety of input fields from a
  number of places. This allows people to use their service without even vising
  the site. If there's an empty text input on your screen, I bet you can use it
  to search Google.
</p>

<p class="description">
  As for a site whose design I find truly visually pleasing, it's
  <a href="http://www.weareisland.com">We Are Island</a>. I like it because
  it does not use web design to force a particular experience onto its visitors.
  It's showcases variation of typography and allows the content of the site
  to drive the experience.
</p>

<div align="center" class="wrapper">
  <form class="shadow">
    <div class="form-header">
      Login
    </div>

    <div class="errors">
    </div>

    <div class="form-body">
      <input type="text" placeholder="you@domain.com" id="email">
      <input type="password" placeholder="Password" id="password">

      <input type="submit" value="Login" id="submit">

      <div class="remember">
        <input type="checkbox" id="check"></input>
        <label for="check">Remember me on this computer</label>
      </div>
    </div>
  </form>
</div>
