body {
  font-family: "Helvetica";
}

form {
  width: 300px;
  height: 175px;
  border: 1px solid #999;
  border-radius: 2px;
}

input {
  display: block;
  margin-bottom: 15px;
}

.wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

#email, #password {
  width: 250px;
}

#submit {
  position: relative;
  top: 5px;
  left: 105px;

  border-radius: 40px 40px 40px 40px;
  border: 1px solid #a9e9e9;
}

.remember {
  position: relative;
  bottom: 25px;
  right: 48px;
  border-radius: -1;
  width: 200px;

  label, #check {
    display: inline;
  }

  label {
    font-size: 10px;
  }
}

.form-header {
  background-color: #a9e9e9;
  padding: 10px;
}

.form-body {
  padding-top: 15px;
  border-top: 1px solid #999;
}

.shadow {
  -moz-box-shadow:    1px 1px 1px 0.25px #ccc;
  -webkit-box-shadow: 1px 1px 1px 0.25px #ccc;
  box-shadow:         1px 1px 1px 0.25px #ccc;
}
